$colores: (
        #00FF00,
        #FF0000,
        #FF00FF,
        #00FFFF,
        #FFD700,
        #808080,
        #DAA520
);

body {
  font-family: Arial, sans-serif;
}

.modulos {
  text-align: center;
  margin: 20px;
}

table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: lime;
}

tbody tr {
  @for $i from 1 through length($colores) {
    &:nth-child(#{$i}) {
      background-color: nth($colores, $i);
    }
  }
}


@for $i from 1 through 6 {
  h#{$i} {
    font-size: 30px - ($i * 2);
  }
}


@function calcularAnchura($tamaño) {
  @return $tamaño * 10px;
}


@media (max-width: 1024px) {
  table {
    width: calcularAnchura(40);
  }
}

@media (max-width: 768px) {
  table {
    width: calcularAnchura(60);
  }
}

@media (max-width: 480px) {
  table {
    width: calcularAnchura(80);
  }
}
